DATABASE_URL=postgresql://neondb_owner:your_password@localhost/your_database?sslmode=require&channel_binding=require
PORT=3000
JWT_SECRET=your_jwt_secret_key_here
SALT_ROUNDS=10
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
REFRESH_TOKEN_EXPIRY_MS=604800000
ACCESS_TOKEN_SECRET=your_jwt_secret_key_here
REFRESH_TOKEN_SECRET=your_jwt_secret_key_here
CORS_ORIGIN=*
APP_BASE_URL=http://localhost:3000
MAILTRAP_HOST=your_mailtrap_host_here
MAILTRAP_PORT=your_mailtrap_port_here
MAILTRAP_USER=your_mailtrap_user_here
MAILTRAP_PASS=your_mailtrap_pass_here